body {
  background-color: black;
  text-align: center;
  justify-content: center;
  padding-left: 125px;
  padding-right: 125px;
  padding-top: 25px;
  margin: 0;
}

.app {
  min-height: 100vh;
  padding: 20px;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  column-gap: 30%;
  row-gap: 50px;
  height: max-content;
  width: max-content;
}
